/*#circleDiv {*/
    /*height: 200px;*/
    /*margin-top: -400px;*/
    /*background-color: white;*/
    /*width: 20%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-radius: 50%;*/
    /*z-index: 999;*/
/*}*/
#highScoreDiv {
    width: 26%;
    height: 200px;
    margin-top: -200px;
}
#highScoreHeader {
    text-align: center;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
}
#highScore {
    text-align: center;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
}
.explosion {
    background-image: url("../img/explosion_gif.gif-c200");
    background-size: 100%;
}
#mainHeader {
    font-size: 70px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Press Start 2P', cursive;
    /*font-family: 'Share Tech Mono', monospace;*/
}
#roundCounter {
    height: 100px;
    margin-top: -350px;
    text-align: center;
}
#roundCounterHeader {
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
}
.container {
    padding-top: 15px;
    height: 700px;
}
.square {
    width: 20%;
    height: 200px;
    border: solid black;
    margin-left: 28%;
    overflow: hidden;
    border-width: thick;
}
#red {
    background-color: red;
    margin-right: 2%;
    margin-bottom: 2%;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 50px;
}
#green {
    background-color: green;
    margin-left: 2%;
    margin-bottom: 2%;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 50px;
}
#blue {
    background-color: blue;
    margin-right: 2%;
    margin-top: 2%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 200px;
}
#yellow {
    background-color: yellow;
    margin-left: 2%;
    margin-top: 2%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 200px;
}
#playButton {
    border: none;
    outline: none;
    width: 20%;
    font-size: 25px;
    margin-left: 40%;
    margin-top: 3%;
    color: white;
    background-color: darkgray;
    font-family: 'Press Start 2P', cursive;
}